#!/usr/bin/env ruby

compile '/status/*.md' do
  filter :kramdown
  layout '/guides.*'
  write item.identifier.without_ext + '.html'
end

compile '/**/*.md' do
  filter :kramdown
  layout '/default.*'

  write item.identifier.without_ext + '.html'
end

compile '/**/*' do
  write item.identifier.to_s
end

layout '/**/*', :erb
