<!DOCTYPE HTML>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title><%= @item[:title] %> - HTTP Guides</title>
    <link rel="stylesheet" href="/stylesheet.css">
    <meta name="description" content="<%= @item[:description] %>">

    <script type="application/ld+json">
     {
       "@context": "https://schema.org/",
       "@type": "TechArticle",
       "headline": "<%= @item[:title] %>",
       "datePublished": "<%= @item[:created_at] %>",
       "dateModified": "<%= @item[:updated_at] %>",
       "description": "<%= @item[:description] %>",
       "inLanguage": "en-US"
     }
     </script>
  </head>
  <body>
    <main>
      <header>
        <h1><%= @item[:title] %></h1>
      </header>

      <%= yield %>
    </main>
  </body>
</html>
